
#cwd-container {
    font-family: tahoma;
}

#cwd-grid {
    border: solid 1px black;
	
	
}


@media (min-width:400px){
    #cwd-grid{
        width: 100%;
		height: 80%;
}
}


@media (min-width:400px){
    .word-container{
     padding-top:50%;
}
}


#cwd-grid td.cwd-tile-highlight
{
    background-color: Yellow !important;
}



#cwd-grid td.cwd-tile-highlight-start
{
    background-color: Yellow !important;
}

#cwd-grid td.red
{
    background-color: Red !important;
	color: White !important;
}

.d3 {
  box-sizing: border-box;

  height:100%;
  margin: 0px;
 
  padding-top: 0px;
  background: pink;
  border: 0px solid rgba(0,0,0,0.15);
  border-radius: 6px;
  -webkit-animation: all 0.3s ease-out;
 /*  -ms-transition: all 0.3s ease-out;
  -webkit-animation: all 0.3s ease-out;
  -o-animation: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; */

   box-shadow:
    inset 0 5px 0 rgba(255,255,255,0.5),
    0 2px 10px rgba(0,0,0,1),
    0 0 0px 1px rgba(0,0,0,1);

 }
 
 


 .d3word {
  box-sizing: border-box;
  width:100%;
  
  margin: 0px;
  padding: 0px 0px;
  background: pink;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 6px;
  -ms-transition: all 0.3s ease-out;
  -webkit-animation: all 0.3s ease-out;
  -o-animation: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
   vertical-align: center;
   box-shadow:
    inset 0 5px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,1),
    0 0 0px 1px rgba(0,0,0,1);

 }

  .d3cross {
  box-sizing: border-box;
  
  margin: 0px;
  padding: 0px 0px;
  background: pink;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 6px;
  -ms-transition: all 0.3s ease-out;
  -webkit-animation: all 1s ease-out;
  -o-animation: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
   vertical-align: center;
   box-shadow:
    inset 0 5px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,1),
    0 0 0px 1px rgba(0,0,0,1);

 }

#cwd-grid td.green
{
    background-color: Green !important;
	color: White !important;
}



#cwd-grid td.cwd-tile-cursor
{
    border-color: White !important;
    background-color: darkgray !important;
    color: white;
}

#cwd-grid td.cwd-tile-correct
{
    background-color: Lime !important;
}

#cwd-grid td.cwd-tile-incorrect
{
    border-color: Red !important; 
	border: solid 1px Red;
}


.A {
	background: DodgerBlue ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}

.B {
	background: Yellow;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}


.C {
	background: HotPink;
	/*color: transparent;*/	
}


.D {
	background: GreenYellow;
	/*color: transparent;*/	
}



.E {
	background: Orange ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}

.F {
	background: MediumPurple ;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}

.G {
	background: Cyan;
	/*color: transparent;*/	
}


.H {
	background: Tomato ;
	/*color: transparent;*/	
}

.I {
	background: Gold;
	/*color: transparent;*/	
}
.J {
	background: Aqua ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}


.K {
	background: CadetBlue ;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}
.L {
	background: DarkKhaki ;
	/*color: transparent;*/	
}

.M {
	background: Magenta  ;
	/*color: transparent;*/	
}



 .N {
	background: LawnGreen  ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}

.O {
	background: OliveDrab   ;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}
.P {
	background: LightSeaGreen ;
	/*color: transparent;*/	
}

.Q {
	background: IndianRed ;
	/*color: transparent;*/	
}


.R {
	background: DeepSkyBlue ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}


.S {
	background: BurlyWood ;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}



.T {
	background: DeepPink;
	/*color: transparent;*/	
}




 .U {
	background: SpringGreen;
	/*color: transparent;*/	
}

 .V {
	background: SlateBlue ;
	/*color: transparent;*/	
}


.W {
	background: Salmon  ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}



.X {
	background: PeachPuff  ;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}




.Y {
	background: MediumVioletRed  ;
	/*color: transparent;*/	
}





.Z {
	background: Lime ;
	/*color: transparent;*/	
}




.cwd-tile-active{
	background: LightYellow;
	border-radius: 0px;

}

.cwd-tile-inactive{
	background: Black;
	border-radius: 2px;
}


.cwd-tile {
    width: 21px;
    height: 21px;

    border: solid 0.07em black;
    padding: 0;
    vertical-align: center;
}

.cwd-tile-word {
    width: 21px;
    height: 21px;
    border: solid 0px black;
    padding: 0;

}


.cwd-tile-letter {
    text-align: center;
    font-size: 13px; 
	line-height: 150%;
}

.red {
    text-align: center;
    font-size: 13px; 
}


.green {
    text-align: center;
    font-size: 13px; 
}

#cwd-clue-box {
    padding: 5px;
    margin-top: 5px;
    border: solid 1px black;
    font-size: 105%;
    font-weight: bold;
    height: 50px;
}

.cwd-clue-highlight
{
    font-weight: bold;
}

.cwd-clues-header {
    font-size: 105%;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cwd-clue div {
    display: table-cell;
}

.cwd-clue-no {
    width: 25px;
}

.cwd-clue-text {
    cursor: pointer;
}


.inner{
    
    outline: 0px solid #333;
    float: left;
    width: 100%;
}

@media (min-width:400px){
    .inner{
	
        width: 50%;

}
}


#cwd-divGrid{
	background-image: url("smiley.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	background-size: 70%;
	
}

.inner-top{
    
    padding-top: 55px;
	
}

@media (min-width:400px){
    .inner-top{
	
        padding-top: 35px;

}
}


.frame {
    height: 90%;      /* equals max image height */
    width: 100%;
    align: center;
    white-space: nowrap;
    
    text-align: center; margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    
    vertical-align: middle;
  
}

.cn {
	
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}


.arrow{
    background-color: pink;
    box-shadow: 3px 3px 4px black;
    width: 10px;
    height: 10px;
    display: inline-block;
    /* Translate the box up by width / 2 then rotate */
   
}

.right{
	-webkit-transform: rotate(-45deg);
}
.left{
	-webkit-transform: rotate(135deg);
}


.strikeout {
  
  position: relative;
}
.strikeout[class*="strikeacross"]::after {
  border-bottom: 0.250em solid rgba(255,255,255, 0.75);
  content: "";
  left: 0;
  line-height: 2em;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  
}

.strikeout[class*="strikedown"]::before { 
  position: absolute;
  content : "";
  left  : 50%;
  top   : 0;
  height: 100%;
  width : 0;
  border-right: 0.250em solid rgba(255,255,255, 0.75);
  
}
