
.A {
	background: DodgerBlue ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}

.B {
	background: Yellow;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}


.C {
	background: HotPink;
	/*color: transparent;*/	
}


.D {
	background: GreenYellow;
	/*color: transparent;*/	
}



.E {
	background: Orange ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}

.F {
	background: MediumPurple ;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}

.G {
	background: Cyan;
	/*color: transparent;*/	
}


.H {
	background: Tomato ;
	/*color: transparent;*/	
}

.I {
	background: Gold;
	/*color: transparent;*/	
}
.J {
	background: Aqua ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}


.K {
	background: CadetBlue ;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}
.L {
	background: DarkKhaki ;
	/*color: transparent;*/	
}

.M {
	background: Magenta  ;
	/*color: transparent;*/	
}



 .N {
	background: LawnGreen  ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}

.O {
	background: OliveDrab   ;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}
.P {
	background: LightSeaGreen ;
	/*color: transparent;*/	
}

.Q {
	background: IndianRed ;
	/*color: transparent;*/	
}


.R {
	background: DeepSkyBlue ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}


.S {
	background: BurlyWood ;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}



.T {
	background: DeepPink;
	/*color: transparent;*/	
}




 .U {
	background: SpringGreen;
	/*color: transparent;*/	
}

 .V {
	background: SlateBlue ;
	/*color: transparent;*/	
}


.W {
	background: Salmon  ;
	/* background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}



.X {
	background: PeachPuff  ;
	/*background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;*/	
}




.Y {
	background: MediumVioletRed  ;
	/*color: transparent;*/	
}





.Z {
	background: Lime ;
	/*color: transparent;*/	
}

