
.bounce {
  position:relative;
  -webkit-animation:bounce  1s infinite;
  animation:bounce  1s infinite;
  text-align:center;
  text-shadow: 2px 2px black, 2px 2px black, 2px 2px black, 2px 2px black;
  }

/*@-webkit-keyframes bounce {
  0%       { bottom:0px; }
  25%, 75% { bottom:10px; }
  50%       { bottom:5px; }
  100% {bottom:0px;}
}*/
@-webkit-keyframes bounce {
  0%       { transform: translateY(5px); -webkit-transform: translateY(5px); }
  25%, 75% { transform: translateY(11px); -webkit-transform: translateY(11px); }
  50%      { transform: translateY(8px); -webkit-transform: translateY(8px); }
  100%    {transform: translateY(5px); -webkit-transform: translateY(5px); }
}

 
#cwd-container {
    font-family: tahoma;
}

#cwd-grid {
    border: solid 1px black;
  
}



@media (min-width:400px){
    #cwd-grid{
        width: 100%;
		height: 80%;
}
}


@media (min-width:400px){
    .word-container{
     padding-top:50%;
}
}


#cwd-grid td.cwd-tile-highlight
{
    background-color: Yellow !important;
}



#cwd-grid td.cwd-tile-highlight-start
{
    background-color: Yellow !important;
}

#cwd-grid td.red
{
    background-color: Red !important;
	color: White !important;
}

 
 




#cwd-grid td.green
{
    background-color: Green !important;
	color: White !important;
}



#cwd-grid td.cwd-tile-cursor
{
    border-color: White !important;
    background-color: darkgray !important;
    color: white;
}

#cwd-grid td.cwd-tile-correct
{
    background-color: Lime !important;
}

#cwd-grid td.cwd-tile-incorrect
{
    border-color: Red !important; 
	border: solid 1px Red;
}




.cwd-tile-active{
	background: LightYellow;
	border-radius: 0px;

}










.inner{
    
    outline: 0px solid #333;
    float: left;
    width: 100%;
}

@media (min-width:400px){
    .inner{
	
        width: 50%;

}
}


#cwd-divGrid{
    /* background-image: url("smiley.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
    background-size: 70%; */

}




.inner-top{
    
    padding-top: 55px;
	
}




.frame {
    height: 90%;      /* equals max image height */
    width: 100%;
    align: center;
    white-space: nowrap;
    
    text-align: center; margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    
    vertical-align: middle;
  
}

.cn {
	
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}


.arrow{
    background-color: pink;
    box-shadow: 3px 3px 4px black;
    width: 10px;
    height: 10px;
    display: inline-block;
    /* Translate the box up by width / 2 then rotate */
   
}

.right{
	-webkit-transform: rotate(-45deg);
}
.left{
	-webkit-transform: rotate(135deg);
}


.strikeout {
  
  position: relative;
}
.strikeout[class*="strikeacross"]::after {
  border-bottom: 0.250em solid rgba(255,255,255, 0.75);
  content: "";
  left: 0;
  line-height: 2em;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  
}

.strikeout[class*="strikedown"]::before { 
  position: absolute;
  content : "";
  left  : 50%;
  top   : 0;
  height: 100%;
  width : 0;
  border-right: 0.250em solid rgba(255,255,255, 0.75);
  
}
