
 .d3cross {
  
  border:1px;
  border-radius:3px;

 }
 
 
#cwd-container {
    font-family: tahoma;
}

#cwd-grid-sp {
    border: solid 1px black;
  
}



@media (min-width:400px){
    #cwd-grid-sp{
        width: 100%;
		height: 80%;
}
}


@media (min-width:400px){
    .word-container{
     padding-top:50%;
}
}


#cwd-grid-sp td.cwd-tile-highlight
{
   
	-webkit-animation: slideSP  1s , fadein 2s forwards;
	-webkit-animation-delay:12s;
	
}

.wrapperHelp
{
	border: 1px solid black;
	border-radius: 6px;
	background-color:lightyellow;
	visibility:hidden;
	-webkit-animation: slideHelp 5s;
	padding: 3px;
	
}



#cwd-grid-sp td.cwd-tile-highlight-start
{
    background-color: Yellow !important;
}

#cwd-grid-sp td.red
{
    background-color: Red !important;
	color: White !important;
}

 
 




#cwd-grid-sp td.green
{
    background-color: Green !important;
	color: White !important;
}



#cwd-grid-sp td.cwd-tile-cursor
{
    border-color: White !important;
    background-color: darkgray !important;
    color: white;
}

#cwd-grid-sp td.cwd-tile-correct
{
    background-color: Lime !important;
}

#cwd-grid-sp td.cwd-tile-incorrect
{
    border-color: Red !important; 
	border: solid 1px Red;
}




.cwd-tile-active-sp{
	background: LightYellow;
	border-radius: 0px;

}


.cwd-tile-inactive-sp{
	background: Black;
	border-radius: 1px;
}

.cwd-tile-sp {
    width: 21px;
    height: 21px;

    border: solid 0.07em black;
    padding: 0;
    vertical-align: center;
}

.cwd-tile-word-sp {
    width: 21px;
    height: 21px;
    border: solid 0px black;
    padding: 0;

}


.cwd-tile-letter-sp {

    text-align: center;
    font-size: 13px; 
	
}





.inner{
    
    outline: 0px solid #333;
    float: left;
    width: 100%;
}

@media (min-width:400px){
    .inner{
	
        width: 50%;

}
}







.inner-top{
    
    padding-top: 55px;
	
}




.frame {
    height: 90%;      /* equals max image height */
    width: 100%;
    align: center;
    white-space: nowrap;
    
    text-align: center; margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    
    vertical-align: middle;
  
}

.cn {
	
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}


.arrow{
    background-color: pink;
    box-shadow: 3px 3px 4px black;
    width: 10px;
    height: 10px;
    display: inline-block;
    /* Translate the box up by width / 2 then rotate */
   
}

.right{
	-webkit-transform: rotate(-45deg);
}
.left{
	-webkit-transform: rotate(135deg);
}


.strikeout {
  
  position: relative;
}
.strikeout[class*="strikeacross"]::after {
  border-bottom: 0.250em solid rgba(255,255,255, 0.75);
  content: "";
  left: 0;
  line-height: 2em;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  
}

.strikeout[class*="strikedown"]::before { 
  position: absolute;
  content : "";
  left  : 50%;
  top   : 0;
  height: 100%;
  width : 0;
  border-right: 0.250em solid rgba(255,255,255, 0.75);
  
}
